// Colors
$grey: #d3d2d2;
$grey2-50: #231f2080;
$black1: #2f302c;
$black5: #d4d4d4;
$black7: #f6f6f6;
$white: #ffffff;
$white2: #eeeeee;
$silver: #d3d2d2;
$blue2: #83cef9;
$primaryBlack500: #231f20;
$primaryBlue500: #60bcea;

// Font Weights
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
$fwBlack: 900;
