*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

html,
#root,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
  font-family: Arial, 'Roboto', sans-serif;
}

button,
input {
  
  font-family: Arial, 'Roboto', sans-serif;
}
